extends layout

block content
  .navbar
    .navbar-inner
      a.brand(href="/") #{config.app_name}
      ul.nav
        for page in config.pages
          li.dropdown
            a(href="/pages/" + page.title,class="dropdown-toggle",data-toggle="dropdown") #{page.title} 
              b.caret
            ul(class="dropdown-menu" role="menu")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="/pages/" + page.title) Preview 
              for widget in page.widgets
                li(role="presentation")
                  a(role="menuitem" tabindex="-1" href="/pages/" + page.title + "/" + widget.title) #{widget.title} 
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#',data-toggle='dropdown')
            | #{user.username}
            b.caret
          ul.dropdown-menu
            li
              a(href="https://github.com/luin/ranaly", target="_blank") Help
            li.divider
            li
              a(href="/logout") Logout
  block page_content

